Indice esercizi
---
- [1.1](#1.1)

1.1
---

In [1]:
import pandas as pd

df = pd.read_csv('../data/OPSD_Germany_all.csv',
                 parse_dates=True,
                 index_col='Date')
df.head()

            Consumption  Wind  Solar
Date
2006-01-01     1069.184   NaN    NaN
2006-01-02     1380.521   NaN    NaN
2006-01-03     1442.533   NaN    NaN
2006-01-04     1457.217   NaN    NaN
2006-01-05     1477.131   NaN    NaN

In [2]:
df = df['2012':]

df.head()

            Consumption     Wind   Solar
Date
2012-01-01      948.128  227.465   6.587
2012-01-02     1269.581  207.327   6.574
2012-01-03     1334.745  473.468  24.679
2012-01-04     1347.136  499.804  14.681
2012-01-05     1376.658  523.851   5.071

In [3]:
df['Renewable'] = df['Wind'] + df['Solar']

df.head()

            Consumption     Wind   Solar  Renewable
Date
2012-01-01      948.128  227.465   6.587    234.052
2012-01-02     1269.581  207.327   6.574    213.901
2012-01-03     1334.745  473.468  24.679    498.147
2012-01-04     1347.136  499.804  14.681    514.485
2012-01-05     1376.658  523.851   5.071    528.922

In [25]:
a = df['2014-09']['Renewable'].sum()
b = df['2014-09']['Consumption'].sum()

print(f'A settembre 2014 il rapporto tra produzione rinnovabile e consumo è {a/b:.2f}')

A settembre 2014 il rapporto tra produzione rinnovabile e consumo è 0.13

In [20]:
df['Weekday'] = df.index.weekday_name
df.head()

            Consumption     Wind   Solar  Renewable    Weekday
Date
2012-01-01      948.128  227.465   6.587    234.052     Sunday
2012-01-02     1269.581  207.327   6.574    213.901     Monday
2012-01-03     1334.745  473.468  24.679    498.147    Tuesday
2012-01-04     1347.136  499.804  14.681    514.485  Wednesday
2012-01-05     1376.658  523.851   5.071    528.922   Thursday

In [21]:
df_sunday_wind = df[df['Weekday'] == 'Sunday']['Wind']

df_sunday_wind.head()

Date
2012-01-01    227.465
2012-01-08    220.851
2012-01-15     34.468
2012-01-22    418.173
2012-01-29     78.807
Name: Wind, dtype: float64

In [26]:
x = df_sunday_wind['2017-01':'2017-03'].mean()

print(f'Il consumo medio domenicale tra gennaio e marzo 2017 è {x:.2f}')

Il consumo medio domenicale tra gennaio e marzo 2017 è 276.96